
{% extends 'movies/base.html' %}

{% block body %}
<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>
<style>
#panel, #flip {
    padding: 5px;
    text-align: left;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}
</style>



  <div id="flip">Add preference</div>
<div id="panel">
                <form class="form-horizontal" role="form" action="{% url 'movies:pref'%}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                {% for x,y in genrelist.items %}
                <label style="margin-right: 40px">{{ y }}<select name={{ x }}>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                    </label>
                {% endfor %}

                <input type="submit" value="submit"/>
                </form>

    </div>
  <h1 style="color: white">Popular movies</h1>

  <ul class="rig columns-3">
    {% for info in movie_detail %}
    <li><img src="{{ info.2 }}" align="left">
         <div align="right"><img src="http://pngimg.com/uploads/star/star_PNG1590.png" width="16" height="16" align="right"/><p>{{ info.3 }}</p></div>
    <h2 align="left" style="font-family: Sans-Serif">{{ info.0 }}</h2>
        <p align="middle">{{ info.1 }}</p>
    </li>

    {% endfor %}
    </ul>
{% endblock %}